
/* All CSS we write goes in this file */
.storiesTable{
	text-align: left;
	font-size: 150%;
	line-height: 175%;
}
.pull-right{
	float: right;
	padding-right: 15px; /* to match bootstrap container padding */
	}

.pull-right-nopad{
	float: right;
	}
	
.table-text{ /* used in forms */
	vertical-align: middle;
	font-size: 180%;
	text-align: middle;
}

.heightchange{ /* used for searchbar */
	margin-bottom: 34px;
}

.hugs{
text-align:center;
/*font-size:16px;*/
width:25%;
}


table, th,td
{
background-color:white;
padding:30px;
font-family: georgia;
} 

.p{
	font-family: georgia;
}

.topics{

text-align:center;
font-size:18px;
font-family: georgia;
}

.p-big{
	font-size: 180%;
	font-family: georgia;
}
