@import url("bootstrap.min.css");

/* All CSS we write goes in this file */

.pull-right{
	float: right;
	padding-right: 15px; /* to match bootstrap container padding */
	}

.pull-right-nopad{
	float: right;
	}
	
.table-text{ /* used in forms */
	vertical-align: middle;
	font-size: 180%;
	text-align: middle;
}

.heightchange{ /* used for searchbar */
	height: 34px;
}